---
import GithubSvg from "@/svg/github.svg";
import LinkSvg from "@/svg/link.svg";
import { Image } from "astro:assets";

type Props = {
  link: string;
  img: string;
  name: string;
  description: string;
  github: string;
};

const { link, img, name, description, github } = Astro.props;
---

<article
  class="border-2 rounded-lg border-border card backdrop-blur-3xl overflow-hidden group/card"
>
  <a href={link} target="_blank">
    <img
      src={img}
      alt={`${name} mockup image`}
      class="overflow-hidden duration-200 z-50"
      alt={name}
    />
  </a>

  <main
    class="text-start px-3 relative before:-z-10 before:absolute before:inset-0 before:bg-radial-[at_50%_75%] before:from-zinc-100 before:opacity-20 py-2 h-full duration-200"
  >
    <div class="flex justify-between items-center">
      <h3 class="text-lg md:text-xl xl:text-2xl font-bold py-2">{name}</h3>
      <div class="flex justify-center gap-x-2">
        <a
          href={github}
          class="hover:opacity-100 opacity-80"
          target="_blank"
          rel="noopener noreferrer"
        >
          <GithubSvg class="size-5" />
        </a>
        <a
          href={link}
          class="hover:opacity-100 opacity-80"
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkSvg class="size-5" />
        </a>
      </div>
    </div>
    <p class="text-primary/70 text-xs md:text-base">{description}</p>
  </main>
</article>

<style>
  .card {
  }
  .card-spotlight {
    position: relative;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(255, 255, 255, 0.05);
  }

  .card-spotlight::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      var(--spotlight-color),
      transparent 80%
    );
    pointer-events: none;
  }

  .card-spotlight::before,
  .card-spotlight::before {
    opacity: 0.65;
  }
</style>
