---
import GithubSvg from "@/svg/github.svg";
import LinkSvg from "@/svg/link.svg";

type Props = {
  link: string;
  img: string;
  name: string;
  description: string;
  github: string;
};

const { link, img, name, description, github } = Astro.props;
---

<article
  class="card rounded-lg border-border backdrop-blur-3xl overflow-hidden group/card"
>
  <a href={link} target="_blank" draggable="false">
    <img
      src={img}
      alt={`${name} mockup image`}
      class="overflow-hidden duration-200 aspect-video z-50"
      alt={name}
      draggable="false"
    />
  </a>

  <main
    class="text-start px-3 relative before:-z-10 before:absolute before:inset-0 before:bg-radial-[at_50%_75%] before:from-zinc-100 before:opacity-20 py-2 h-full duration-200"
  >
    <div
      class="flex flex-col md:flex-row justify-around md:justify-between items-center"
    >
      <h3
        class="text-lg line-clamp-1 md:line-clamp-none md:text-xl xl:text-2xl font-bold py-2"
      >
        {name}
      </h3>
      <div class="flex md:justify-center gap-x-2">
        <a
          href={github}
          class="hover:opacity-100 opacity-80"
          target="_blank"
          rel="noopener noreferrer"
        >
          <GithubSvg class="size-5" />
        </a>
        <a
          href={link}
          class="hover:opacity-100 opacity-80"
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkSvg class="size-5" />
        </a>
      </div>
    </div>
    <p class="text-primary/70 text-xs mt-2 md:mt-1 line-clamp-4 md:text-base">
      {description}
    </p>
  </main>
</article>

<style>
  .card {
    scroll-snap-align: center;
    flex: 0 0 85%;
  }

  @media (max-width: 480px) {
    .card {
      flex: 0 0 100%;
    }
  }
</style>
